#header {
	position: relative;
	height: 300px;
	background: black;
	overflow: hidden;

	.background {
		filter: alpha(opacity=50);
		-webkit-opacity: 0.5;
		opacity: 0.5;
		-webkit-transition: background .7s;
		transition: background .7s;
	}

	.bg-code {
		height: inherit;
		background: url(../../assets/images/bg-code-2.jpg) no-repeat center -420px fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-webkit-filter: blur(1px);
		filter: blur(1px);

		/* Small Devices, Tablets */
		@media only screen and (max-width : 768px) {
			background: url(../../assets/images/bg-code-mobile.jpg) no-repeat center -420px fixed;
		}
	}

	.bg-mountains {
		height: inherit;
		background: url(../../assets/images/bg-mountains.jpg) no-repeat center -420px fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;

		/* Small Devices, Tablets */
		@media only screen and (max-width : 768px) {
			background: url(../../assets/images/bg-mountains-mobile.jpg) no-repeat center -420px fixed;
		}

	}

	.bg-sanddollar {
		height: inherit;
		background: url(../../assets/images/bg-sanddollar.jpg) no-repeat center -420px fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;

		/* Small Devices, Tablets */
		@media only screen and (max-width : 768px) {
			background: url(../../assets/images/bg-sanddollar-mobile.jpg) no-repeat center -420px fixed;
		}
	}

	.bg-yosemite {
		height: inherit;
		background: url(../../assets/images/bg-yosemite.jpg) no-repeat center -420px fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;

		// /* Small Devices, Tablets */
		// @media only screen and (max-width : 768px) {
		// 	background: url(../../assets/images/bg-mountains-mobile.jpg) no-repeat center -420px fixed;
		// }
	}

	.bg-animated {
		background: linear-gradient(180deg, #0e96b6, #1f2b28);
		-webkit-background-size: 400% 400%;
		-moz-background-size: 400% 400%;
		background-size: 400% 400%;
		height: 300px;


		-webkit-animation: animatedGradient 20s ease infinite;
		-moz-animation: animatedGradient 20s ease infinite;
		animation: animatedGradient 20s ease infinite;

		@-webkit-keyframes animatedGradient {
			0% { background-position: 25% 0 }
			50% { background-position: 75% 100% }
			100% { background-position: 25% 0 }
		}

		@-moz-keyframes animatedGradient {
			0% { background-position: 25% 0 }
			50% { background-position: 75% 100% }
			100% { background-position: 25% 0 }
		}

		@keyframes animatedGradient {
			0% { background-position: 25% 0 }
			50% { background-position: 75% 100% }
			100% { background-position: 25% 0 }
		}
	}

	.profile {
		position: absolute;
		top:0;
		left: 0;
		height: inherit;
		width: 100%;

		.container {
			height: inherit;
		}
	}

	.profile-card {
		margin-top: 90px;

		/* Small Devices, Tablets */
		@media only screen and (max-width : 768px) {
			margin-left: 15px;
		}

		/* Extra Small Devices, Phones */
		@media only screen and (max-width : 490px) {
			margin-top: 50px;
			margin-left: 5px;
		}
	}

	.profile-info {
		position: relative;
		top: -15px;

		h3, h4 { margin: 0 }

		a {
			color: @gr3;
			&:hover { color: @gr2; }
		}

		.underline-s {
			margin: 10px 0 !important;
		}

		/* Extra Small Devices, Phones */
		@media only screen and (max-width : 490px) {
			top: 0;
			left: -15px;
			h3 { font-size: 1.6em; }
			h4 { font-size: 1.2em; }
			.margin-top-m;
		}
	}

	.profile-photo {
		width: 176px;
		height: 176px;
		overflow: hidden;
		border: 3px solid @gr3;

		img {
			position: relative;
			left: -60px;
			top: -15px;
		}
	}

}
