#menu {
	ul {
		margin: 15px 0;

		li {
			list-style: none;
			display: inline;

			&:before{
				content: '\00B7';
				padding: 0 5px;
			}

			&:first-of-type {
				&:before{
					content: '';
					padding-right: 0;
				}
			}
		}
	}
}
